.page-content {
    text-align: center;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px ;
    margin: 10px;
    }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 450px;
    width: 250px;
    overflow: hidden;
    word-break: break-all;
    
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border-bottom: 2px solid ;
  }
  
  .card-details {
    margin-top: 10px;
  }
  .select{
    height: 35px;
    border-radius: 1000px;
    text-align: center;
    
  }
  .status img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  /* BotCollection Styling */
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container select {
    padding: 5px;
    font-size: 16px;
  }
  
  /* YourBotArmy Styling */
  .bot-army {
    border: 2px solid black;
   
  }
  
  .bot-army h1 {
    margin-bottom: 10px;
  }
  
  .bot-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  .bot-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border-bottom: 2px solid blue;
  }
  
  .bot-details {
    margin-top: 10px;
  }
  
  .bot-card button {
   
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .bot-card button:hover {
    background-color: darkred;
  }
  