.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #9c8fe7;
    color:#ffffff;
}

.card {
    width: 400px; 
    height: 500px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    word-break: break-all;
}

.card img {
    width: 150px; 
    height: auto; 
    object-fit: cover;
    margin-right: 10px; 
    border-bottom: 2px solid black;
   
}

.card-details {
    flex: 1; 
    padding: 10px; 
}

.status{
    border: 2px solid black;
    gap: 5px;
    display: flex;
    padding: 10px;
    background: #ffecb3;
    color: black;
}

.status img {
    width: 20px;
    height: 20px;
}

