.page-content {
    text-align: center;
    background-size: cover;
    background-position: center; 
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px ;
    margin: 10px;

    
    }
  
  .card {
    border: 1px solid black;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    word-break: break-all;
    margin: 20px;
    color: blue;
  }
  
  .card img {
    width: 100px;
    
    border-radius: 5px;
    border-bottom: 2px solid ;
  }
  .card:hover img{
   background: greenyellow;
  }
  
  .card-details {
    margin-top: 10px;
    flex-grow: 1;
  }
  .card-details p {
    margin-bottom: 10px;
    color: blueviolet;
  }
  
/* select container */
.select {
  display: flex; 
  justify-content: space-between; 
  padding: 20px;
}

/* BotCollection Styling */
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container select {
    padding: 5px;
    font-size: 16px;
  }
  
  /* YourBotArmy Styling */

  
  .bot-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: slategray;
    color: rgb(0, 0, 0);
  }
  
  .bot-card img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border-bottom: 2px solid ;
  }
  .status img {
    width: 20px;
    height: 20px;
   
  }
  .status button{
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
  }
  .status button:hover {
    background-color: darkred;
  }
  
  .bot-details {
    margin-top: 10px;
  }
  
  .bot-card button {
   
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .bot-card button:hover {
    background-color: darkred;
  }
  